[2016-11-15 16:46] numbnut opened #2 "Provide Installation Instructions"
Hi there,
I'm unsure about the state of this plugin and how to install it. The instructions seems to be outdated, because they are referencing an old gem, which seems to be not Logstash 5.0 ready. Is this plugin in an experimental state and not released yet? Is there a roadmap about the release date?
Thanks a lot!

[2016-11-15 19:38] IngaFeick commented on #2
Hi there! You're right, the current one is not yet logstash 5 ready. We're very much working on that right now. I'll let you know when it's finished and provide some updated installation instructions.

[2016-11-15 20:04] numbnut commented on #2
Thank you very much for the fast response. Could you give a rough estimation of how long it will take? Is it a month or a year? Just curios about it.

[2016-11-15 21:57] IngaFeick commented on #2
Let me come back at you next week, then I should be able to estimate this better. Definitely not a year ;)
Cheers!

[2016-11-16 11:09] numbnut commented on #2
Sounds great! Thank you very much and take your time. I don't want to hustle you.

[2016-12-05 14:17] IngaFeick commented on #2
Hey there, good news: you can now install the plugin via the normal command:
    bin/logstash-plugin install logstash-codec-protobuf
Let me know if you run into any issues, happy to help!

[2016-12-05 14:17] #2 closed

[2016-12-06 09:04] numbnut commented on #2
Thank you very much. I will let you know, if anything goes wrong.

[2017-05-30 09:51] sgarap opened #5 "Installation not working"
Hi,
I tried to install logstash-codec-protobuf plgin to logstash 5.2
There is a proxy  configured on the server to access Internet. rubygems.org is accessible from the machine, but logstash-codec-protobuf plugin is not installed. It prints Validating logstash-code-protobuf, but doesn't do any thing even after 20 minutes. See below. I used RHEL 1.3 as OS Kernel version: 3.10.0-327.36.1.el7.x86_64

[2017-05-30 20:24] IngaFeick commented on #5
Heyho!
The codec has become a part of the official plugins and can easily be installed by running
`bin/logstash-plugin install logstash-codec-protobuf`
I will update the documentation. Thanks for letting me know! Please tell me if you run into any problem with the aforementioned command.

[2017-05-31 01:36] thechile opened #7 "protobuf file not working... maybe wrong class_name ?"
Hi

I have the protobuf file shown at the end of this issue... but i'm a bit confused what `class_name` should be ?

I have tried
[code]

Which works OK in as much as i get some events logged but it seems to only work for `DNSQuestion`.. not `DNSResponse`. I also receive the following error when running logstash with `--debug` which i believe is when logstash receives a `DNSResponse` event.. but n

[2017-05-31 07:18] sgarap commented on #5
@IngaFeick

[2017-05-31 07:29] IngaFeick commented on #5
@sgarap which version of logstash are you using exactly? 5.2.x?

[2017-05-31 07:32] sgarap commented on #5
@IngaFeick
./logstash --version
logstash 5.2.0

[2017-05-31 08:09] IngaFeick commented on #5
Thanks @sgarap. I just downloaded a vanilla logstash and tested the command, seems to be working fine:
`~/Downloads/logstash-5.2.0
❯ bin/logstash-plugin install logstash-codec-protobuf
Validating logstash-codec-protobuf
Installing logstash-codec-protobuf
Installation successful`

Would you mind trying if the same problem happens for any other plugin? Maybe just install some random plugin like `bin

[2017-05-31 10:00] IngaFeick commented on #7
Hi!
The class name looks good. If you can decode the log events containing the dnd questions then you don't have a config issue. As to why the decoding of the responses fails: I cannot tell for sure without looking at the data that's going over the wire. Can you log the outgoing data on the producer side or maybe run a short tcpdump so that we can have a look at the binary data? If you can write t

[2017-05-31 11:51] sgarap commented on #5
@IngaFeick There seems to be some problem with invoking proxy  from logstash side. I downloaded 5.4.0 on windows machine and installation worked fine over there.

[2017-05-31 11:55] IngaFeick commented on #5
@sgarap I was suspecting an issue with your internet connectivity. Maybe run a netstat or something to see what it's trying to connect to and check if that is reachable through your proxy? I'm not familiar with the internals of the installation process so I'd have to run a test aswell.

[2017-06-01 08:12] thechile commented on #7
thanks

Dumping it on the producer side is not so easy without changing code and recompiling i'm afraid.

Both use version 2 as defined by `syntax = "proto2";` in the `.proto` file if that is what you mean by checking versions ? ( the source protobuf file is here [https://github.com/PowerDNS/pdns/blob/master/pdns/dnsmessage.proto](https://github.com/PowerDNS/pdns/blob/master/pdns/dnsmessage.proto)

[2017-06-01 13:04] thechile commented on #7
my bad...  turns out there is a way to show the event before it's serialised.

Here is what a failing event looks like

[code]

And here is one that works

[code]

When the rrs field is populated with data it seems to be causing the codec to error.

Any idea if this is related to the `.rb` or the logstash plugin ?

thanks.

[2017-06-01 13:08] sgarap commented on #5
Worked on windows. Used offline plugin management to install it on linux offline servers.

[2017-06-01 13:08] #5 closed

[2017-06-01 16:12] sgarap opened #8 "Map Values from proto are misplaced after decoding in logstash"
Hi I generated the following .pb.rb file from .proto using https://github.com/codekitchen/ruby-protocol-buffers
`#!/usr/bin/env ruby
# Generated by the protocol buffer compiler. DO NOT EDIT!

require 'protocol_buffers'

module Httpendpoint
  # forward declarations
  class Payload < ::ProtocolBuffers::Message; end

  class Payload < ::ProtocolBuffers::Message
    # forward declarations
    class Cu

[2017-06-02 05:42] thechile commented on #7
I put together a simple ruby TCP server that accepted the protobuf message and decodes it, and i get the same behavior where query works but response fails with the same error

[code]
Not sure if this points to the `ruby-protocol-buffers` gem being the problem ?

.. or maybe the output from `ruby-protoc` is wrong.

[2017-06-04 01:55] thechile commented on #7
hi.. turns out this is problem with protocol-buffers library. The field named 'class' blows up because it's interpreted as object type Class. Will close this issue since not codec fault. thanks.

[2017-06-04 01:55] #7 closed

[2017-06-12 14:16] IngaFeick commented on #8
Hi @sgarap ,
sorry for the delay! Would you mind providing the version of the protobuf codec that you are using? You can get it by running `bin/logstash-plugin list --verbose | grep protobuf`
Thank you

[2017-09-11 17:10] fluency03 opened #9 "Issue of protobuf for logstash codec - not finding the class"
I am trying to use protobuf for logstash codec. I am following :

* https://github.com/codekitchen/ruby-protocol-buffers
* https://github.com/logstash-plugins/logstash-codec-protobuf
* http://tech.trivago.com/2016/01/19/logstash_protobuf_codec/

However, I cannot start my logstash.

    bin/logstash -f logstash-test-1.conf --config.reload.automatic --debug

Here is the error:

    ...
    [2017-09

[2017-09-11 19:09] IngaFeick commented on #9
@fluency03 which logstash version are you using?

[2017-09-11 19:38] fluency03 commented on #9
logstash version is 5.5.2

The part I am not getting is: the logstash instance having the protobuf plugin on **input kafka** is ok; but the logstash instance having the protobuf plugin on **output kafka** is throwing error

[2017-09-12 07:40] IngaFeick commented on #9
@fluency03 the decoder part of the codec that you are using on the input is thorougly tested while the encoder part for the output is rather new and not widely used yet, so that explains it maybe. Can you give me the full config file?

[2017-09-12 07:58] fluency03 commented on #9
I think I found the reason.

It seems like `Twitter` is some kind of already existing class name. So, maybe, my Twitter is conflicting with the existing one in Ruby.

I changed the class name to `TwitterSimple`, the logstash is able to start.

[code]

[2017-09-12 07:59] fluency03 commented on #9
Please confirm this reason.

[2017-09-12 08:08] IngaFeick commented on #9
Good point. Given that you seem to be using the twitter input, it was probably clashing with [that class](https://github.com/logstash-plugins/logstash-input-twitter/blob/master/lib/logstash/inputs/twitter.rb). I think we can consider this ticket closed.

[2017-09-12 08:09] IngaFeick commented on #8
@sgarap is this issue still ongoing for you?

[2017-09-12 08:09] fluency03 commented on #9
I think so.   Thanks.

[2017-09-12 08:09] #9 closed

[2017-09-12 08:33] sgarap commented on #8
@IngaFeick We are now converting the protobuf to json before writing the data to elasticsearch. We don't use this plugin anymore.

[2017-09-12 08:33] #8 closed

[2017-09-12 10:06] fluency03 opened #10 "not encoding the message"
I am building up such pipeline:

[code]

But it seems like when logstash 1 encode the data to kafka based on protobuf, it is not working fine.

This is my logstash 1:

[code]

This is my logstash 2:

[code]

Here is my `TwitterSimple.proto`:

[code]

One example of the data if I pipe it to `stdout { codec => rubydebug }` on logstash 1:

[code]

The output on logstash 2 I got is only:

[code]

if I

[2017-09-12 13:36] IngaFeick commented on #10
@fluency03 I think the problem might be related to the lack of support for version 3 of protobuf in the underlying (protobuf library)[https://github.com/codekitchen/ruby-protocol-buffers] that we're using. We are planing to integrate support for that aswell sometime soon. For the time being, is it possible for you to try with version 2 syntax?

[2017-09-12 13:44] fluency03 commented on #10
should I just change `syntax = "proto3";` to `syntax = "proto2";`, OR, I have to download the previous version of protobuf here https://github.com/google/protobuf/releases?

[2017-09-12 13:46] fluency03 commented on #10
@IngaFeick  but the error is `unexpected next`

[code]

[2017-09-12 13:47] fluency03 commented on #10
no matter using `syntax = "proto3";` or `syntax = "proto2";`, the outputted `TwitterSimple.pb.rb` file is same.

[2017-09-12 14:08] IngaFeick commented on #10
@fluency03 can you please provide the TwitterSimple.pb.rb file ? Thx

[2017-09-12 14:10] fluency03 commented on #10
currently, for avoiding all other issues, I am only trying one field `user`. And I removed other fields in logstash's filter.

[code]
#!/usr/bin/env ruby
# Generated by the protocol buffer compiler. DO NOT EDIT!

require 'protocol_buffers'

# forward declarations
class TwitterSimple < ::ProtocolBuffers::Message; end

class TwitterSimple < ::ProtocolBuffers::Message
  set_fully_qualified_name "Twit

[2017-09-12 14:21] IngaFeick commented on #10
@fluency03 that last class works for me for encoding. Cannot reproduce the issue with that super simple class. Can you?
It would be helpful if you provide the full original TwitterSimple.pb.rb as requested. Maybe I can reproduce your issue with that one.

[2017-09-12 14:25] fluency03 commented on #10
this very simple class with only user is also not working for me.

[2017-09-12 14:30] fluency03 commented on #10
does it have anything to do with the ruby version?

[code]

[2017-09-12 14:30] IngaFeick commented on #10
@fluency03 I cannot help you if you don't give me the information that I asked for. Twice. Thank you.

[2017-09-12 14:33] fluency03 commented on #10
This is the original `pb.rb` file:

[code]

But, still, no matter the original `pb.rb` with all fields or the very simple `pb.rb` with only one field, my encode is not working.

[2017-09-12 14:42] IngaFeick commented on #10
@fluency03 Thanks for the file :)
The protoc version shouldn't matter because I'm testing with your compiled files. I have tested with ruby version "jruby 1.7.19" and "ruby-2.0.0-p643". Same behaviour on both of them. My logstash codec plugin version is 0.1.3 and I think you use the same version, if I remember correctly from the other ticket. Please let me know if that assumption is wrong.
I am cu

[2017-09-12 14:49] fluency03 commented on #10
@IngaFeick thanks !

[2017-09-12 15:08] IngaFeick commented on #10
@fluency03 I cannot reproduce your issue right now. I am reading my test data from a json file. According to its representation in stdout codec rubydebug it is identical to the testdata that you described above. Nevertheless, would you mind testing if you have the same issue when the data comes from a different input? The config would be: ```input
{
	file
	{
	    path => "/TODO-your-path/input.jso

[2017-09-12 15:46] IngaFeick commented on #10
@fluency03 it would also be interesting to see what happens when you write your data to stdout instead of kafka, while using the protobuf codec instead of rubydebug.

[2017-09-12 16:06] fluency03 commented on #10
I have tried using `file` input and your data.

- If I only put one json, the output protobuf plugin is not even executed;
- I put 50 jsons in the input.json, protobuf is then being called, but I got the same error as my first post;
- regarding `stdout` you said:
  - if I use `codec => rubydebug`, I got jsons printed out;
  - if I use  `codec => protobuf`, I got nothing, because I got same error a

[2017-09-12 16:50] fluency03 commented on #10
I added some logs:

[code]

And I got:

[code]

[2017-09-13 07:59] IngaFeick commented on #10
@fluency03 I think we should get rid of that ```next``` statement that you find suspicious. Since I cannot reproduce the issue on my machine, sadly, we'll have to test on yours. Would you mind changing the function to something like this:
[code]
I haven't tested this piece of code, hope it works :D

Just out of curiosity: which operating system are you on?

[2017-09-13 08:09] fluency03 commented on #10
Thanks so much for your patient.

Here is what I got after change the code of `prepare_for_encoding ` to what you provided:

[code]

And to answer your question, I currently working on `macOS 10.12.6`.

[2017-09-13 08:25] IngaFeick commented on #10
No problem, it's fun. Can you replace the function once more please with this:
[code]

[2017-09-13 08:28] fluency03 commented on #10
Here is the debug messages:

[code]

[2017-09-13 08:31] IngaFeick commented on #10
Can you please replace this method aswell, just for testing:
[code]

The change is simply that in the first call to encode, we convert the event object to a hash:
``` data = _encode(event.to_h, @class_name) ```
instead of
``` data = _encode(event, @class_name) ```

[2017-09-13 08:39] fluency03 commented on #10
After changing to `data = _encode(event.to_h, @class_name)`, I only got error 2 messages:

[code]

[2017-09-13 08:43] IngaFeick commented on #10
Okay good. Can you change the output back to stdout with codec rubydebug for a minute so that we can compare the list of event fields with your protobuf definition? There's going to be at least one field in the event that doesn't have a representation in the protobuf class. Might be something that logstash or another plugin added so it's not in your input data, stuff like @version or host or path.

[2017-09-13 08:47] IngaFeick commented on #10
Maybe you can fix this by adding ```
filter {
	mutate
    {
      remove_field => ["host", "path", "@version" ]
    }

}
[code]

[2017-09-13 08:49] fluency03 commented on #10
This is the rubydebug output, I did not see fields missing:

[code]

[2017-09-13 08:52] fluency03 commented on #10
Previously, I have tried to remove most of the fields and only leave the `user` field.  With that single field, it is not working as well.

I have tried to print our the error trace, and it seems like the error happened here `data = _encode(event.to_h, @class_name)`, the `_encode` and `prepare_for_encoding` is not even called.

So I change `_encode(event.to_h, @class_name)` to `_encode(event.to_ha

[2017-09-13 08:54] IngaFeick commented on #10
I confirm that there seem to be no missing fields in the protobuf declaration. I have a hunch that it is something about the nested classes, but that's just a gut feeling right now. I need to disappear for a meeting and will be back in a couple of hours. Happy to continue debugging then with you! Sorry for the delay.

[2017-09-13 08:57] fluency03 commented on #10
No problem.  Talk to you later 👍

[2017-09-13 09:06] IngaFeick commented on #10
Seems like I have a couple of more minutes. The NoSuchMethod error is thrown by the [protobuf object creation](https://github.com/logstash-plugins/logstash-codec-protobuf/blob/master/lib/logstash/codecs/protobuf.rb#L98)
[code]
What we can do is check if the exception has any details on _which_ method is missing.
In line 101, can you change
[code]
to
[code]

[2017-09-13 09:10] fluency03 commented on #10
---

I printed something more by adding the followings:

[code]

And I am using `data = _encode(event.to_hash, @class_name)` instead of `to_h`.

And I got:

[code]

[2017-09-13 09:10] fluency03 commented on #10
For e.inspect, I got:

[code]

[2017-09-13 09:13] IngaFeick commented on #10
Okay let's replace all occurances of .to_h with .to_hash and try again. Should be in the debug outputs only, I cannot find it in the original source code.

[2017-09-13 09:16] fluency03 commented on #10
After replace `to_h` with `to_hash`, I got:

[code]

[2017-09-13 09:21] fluency03 commented on #10
If I understand it correctly, the `fields` and `meta` should have same corresponding members, right?

What I saw is that, `meta` is only having the nested members of its parent, as indicated in my [this comment](https://github.com/logstash-plugins/logstash-codec-protobuf/issues/10#issuecomment-329107022).

Or, this is the actual purpose.

[2017-09-13 10:16] fluency03 commented on #10
Good news is that, I have tried only by having one field - `user`. And it is working.

And summary it, it is solved by changing `data = _encode(event, @class_name)` to `data = _encode(event.to_hash, @class_name)`.

---

So the current problem is caused by the nested fields.

[2017-09-13 13:30] IngaFeick commented on #10
Nice! One of us should definitely write a PR for the .to_hash fix. I can do it if you don't want to, it's up to you.

I'm not sure. I am new to ruby myself and I have only limited insights into the logstash internals. Sorry.

I have created a branch in my fork which adds null checks to the objects that map gets applied on. Wanna test with that?
https://github.com/IngaFeick/logstash-codec-protobuf/

[2017-09-13 13:50] fluency03 commented on #10
- I have submitted the PR.  But I don't know why CI check is not passing.
- I have checked your fork.  Found some small error regarding logger message. I already left a comment on the comment.
- I have tested the your fork. got the following error:

[code]

The error `TypeError: can't assign Hash to ProtocolBuffers::Field::MessageField` is located here [line 98](https://github.com/IngaFeick/logsta

[2017-09-13 14:00] IngaFeick commented on #10
Super, thank you so much for that. Now we got a hint at what's happening. I have an idea. Let me test something and report back to you asap.

[2017-09-13 14:00] fluency03 commented on #10
Sure.  Thanks.

[2017-09-13 15:19] IngaFeick commented on #10
@fluency03 I have pushed some more changes to the branch. Wanna try again?

[2017-09-13 15:51] fluency03 commented on #10
Thanks.  I have tried.  There is no error on the encode side. But there are errors on the decode side:

[code]

I am thinking:
- Is it due to the decoding code?
-  Or, it is actually because the data is not correctly encoded on the encode side, which is in turn causing the errors on the decode side?

[2017-09-13 15:54] IngaFeick commented on #10
That happens in the input plugin of logstash 2 I guess?
If so: the protobuf definition of that input plugin seems not to match the data that is in the kafka topic. Make sure that both configs use the exact same file and classname and maybe create a new kafka topic and start the test again to make sure that you don't have mixed versions in there.

[2017-09-13 16:08] fluency03 commented on #10
I have done following stuff, same errors.

- two logstash are using same config for protobuf plugin

[code]

- I created a new kafka topic `test` for testing

---

I am thinking whether the data is correctly encoded (particularly for nested fields) on logstash 1, which causes logstash 2 did not recognize it.

[2017-09-14 12:17] fluency03 commented on #10
@IngaFeick  I think the bug is due to this code `decoded = @obj.parse(data.to_s)`.

Here, it is trying the decode the `data` based on the obtained `@obj`. However, Now this `@obj` is only containing information of class `TwitterSimple` .   It is not able to recognize the nested classes `Hashtag` and `UserMentioned` because they never added to `@obj`, **in the decode side**.

On the other side, if

[2017-09-18 19:58] bryanvpham opened #13 "Protobuf support for 2.4?"
has the plugin been tested with Logstash 2.4? there no documentation for it, based on debug logs, everything loads properly. I was playing around with logstash-output-stdout in order to test it out. I get no errors and
[code]
I never get my "meow" if I'm using "protobuf" codec. The logs say it finds my class file and my class just fine. It just doesn't get encoded or run the code it should once it

[2017-09-19 09:31] IngaFeick commented on #13
The event api of logstash has changed significantly between versions 2 and 5, so the plugin isn't expected to work with the version 2.x, sorry.

[2017-09-19 14:31] IngaFeick commented on #10
@fluency03  Hi and sorry for the late reply.
I have pushed changes to the branch with an additional fix, which might fix or not fix your issue. It definitely fixes an issue with enumerations but since I cannot reproduce your current problem I don't know if that's somehow related. I also added a testcase for your protobuf class, it's the last one in ```spec/codecs/protobuf_spec.rb```. You can run i

[2017-10-09 13:32] tomtom3383 opened #14 "The plugin can't load requirements on google's definitions"
Hye, i'm using logstash 5.6.2 and version 1.0.3 of logstash protobuf codec.
I have a proto3 class definition that references google objetcs such as google.protobuf.Value.
Once compiled to ruby, my myClass_pb.rb file contains a "require 'google/protobuf'".
I use the folowing input configuration :
[code]

When i launch logstash it always fails with this error :
[code]
where line 3 is "require 'googl

[2017-10-10 14:44] IngaFeick commented on #14
Hi @tomtom3383 , could you please provide the full myClass_pb.rb ? Thank you

[2017-10-11 08:42] tomtom3383 commented on #14
Hi, here is the file. I compiled it with google protoc tool. Does the codec handle proto3 syntax ? it's not clear in the documentation.

[code]

[2017-10-11 11:29] IngaFeick commented on #14
Hi, sadly no, the library that we are currently using supports version 2 only. Might that be the source of the problem?
We have support for v3 on the roadmap for the not so far future. If you need it quickly let me know so that I can bump up the priority.

[2017-10-11 12:42] tomtom3383 commented on #14
I'm trying to get a workaround by writing a deserializer class for the kafka input plugin but it would be neater to use directly your proto codec.

[2017-10-23 06:31] longdeqidao commented on #14
@IngaFeick Look forward to supporting protobuf3 which is mainstream and also supports ruby_out in official repo. Moreover, the development of protobuf2 seems not active anymore. Thanks, guys.

[2017-11-01 12:29] jake2184 opened #15 "Cannot decode string of bytes sent from pdns"
I'm using pdns_recursor to send protobuf messages to logstash.

However the output of some fields is pretty incomprehensible.

The proto file is found [here](https://doc.powerdns.com/recursor/lua-config/protobuf.html#protobufServer), and was converted using [protocol-buffers](https://github.com/codekitchen/ruby-protocol-buffers).

Of particular annoyance are the 'from' and 'to' fields of the proto

[2017-11-10 17:21] #13 closed

[2017-12-28 13:38] ghostPM opened #16 "protobuf decode error"
When i'm using logstash-codec-protobuf with plugin version 1.0.3 to decode my msg receive from kafka, I got the error in the following:

[code]

I'm not sure if the plugin support protobuf version 2.x? Since I use `protoc` with version 2.6.1.

I use the [ruby-protocol-buffers](https://github.com/codekitchen/ruby-protocol-buffers) which is recommended by logstash-codec-protobuf. The following shows

[2017-12-29 03:44] ghostPM commented on #16
I have resolved it, since I forgot to set the value_deserializer_class property of kafka to `org.apache.kafka.common.serialization.ByteArrayDeserializer` which refers protobuf's data.

Thank you

[2017-12-29 03:44] #16 closed

[2018-01-20 22:19] aliluyko89 commented on #14
@IngaFeick, Do you have some news about supporting protobuf3 or workaround?

[2018-01-23 16:16] IngaFeick commented on #15
Hi @jake2184 , is this still relevant? I'm currently working on a new version and you could test-drive it in a couple of days, maybe it solves the issue.

[2018-01-23 16:17] IngaFeick commented on #14
@aliluyko89 I do! We are currently testing a new version which supports v3, you might test it in a couple of days maybe. I will give you the details at the beginning of the next week.

[2018-01-23 16:28] aliluyko89 commented on #14
@IngaFeick, It's cool! Just let me know when you have some working version, I will test it with pleasure))

[2018-01-23 17:25] jake2184 commented on #15
I came to a rather hacky work around, involving unpacking the data:
[code]

And for the rData response, which may be IPv6 or IPv4:
[code]

This is not great, but mostly works for the time being.

I look forward to a working solution and am happy to test, but cannot guarantee having time to do so (depending on work projects).

[2018-02-02 17:25] invis87 opened #17 "Map Values from proto are misplaced after decoding in logstash"
I've found an issue: https://github.com/logstash-plugins/logstash-codec-protobuf/issues/8 and looks like it is my case, but it is closed, so open new one.

So, the problem: **logstash-codec-protobuf doesn't work with new logstash**.

My protobuf file:
[code]

Next steps:

1.  `ruby-protoc MyProto.proto` and place result file (`MyProto.pb.rb`) to `/work/logstash/config/` directory.
2. write your `l

[2018-02-06 10:49] IngaFeick commented on #17
Hi. The current version does not support protobuf 3 yet. I am working on a new version right now though and that might solve your issue. Let me come back to you at the end of the week with an update, okay?

[2018-02-06 10:56] invis87 commented on #17
@IngaFeick wow, good news! Thanks and good luck)

[2018-02-09 11:05] invis87 commented on #17
@IngaFeick Hi! How update is going on?

[2018-02-09 11:17] IngaFeick commented on #17
Hi! Short delay on my side due to some unexpected workload elsewhere but still on the top of my todo list. Will probably finish the PR on monday or tuesday next week. Sorry for the delay!

[2018-02-14 08:06] invis87 commented on #17
@IngaFeick Hi! How are you :) ?

[2018-02-17 21:17] IngaFeick commented on #17
@invis87 doing great, you? Here's a new version for you to test:
https://rubygems.org/gems/logstash-codec-protobuf/versions/1.0.5
Here's my [branch](https://github.com/IngaFeick/logstash-codec-protobuf/tree/google-pb-lib) in case you're interested in the gory details, but this is probably sufficient for you: in your logstash input section, use the codec like so:
[code]
Let me know how that works f

[2018-02-18 09:41] MangeshBhamre commented on #15
Hi jake2184 ,

I am trying to do a similar thing with pdns_recursor and logstash.  In which file did you add above code?

Regards,
Mangesh

[2018-02-18 09:43] IngaFeick commented on #15
@MangeshBhamre are you using protobuf 2 or 3?

[2018-02-18 09:53] MangeshBhamre commented on #15
@IngaFeick protobuf 3. Latest.

In addition to above issue highlighted by @jake2184 .  I get below errors.  While i used logstash 5.2.x earlier this was working fine. Now I am on logstash 6.2.x

[2018-02-18T09:52:18,226][WARN ][logstash.codecs.protobuf ] Couldn't decode protobuf: #<NoMethodError: undefined method `<<' for false:FalseClass>.
[2018-02-18T09:52:19,205][WARN ][logstash.codecs.protobuf

[2018-02-18 09:58] IngaFeick commented on #15
@MangeshBhamre the current version of the protobuf codec does not support protobuf 3 yet. No worries though, I'm about to write a PR for version 3 support. Can I interest you in testing the new version so that I can pick up your feedback before I send the PR?

[2018-02-18 09:59] MangeshBhamre commented on #15
@IngaFeick  Sure. I can test out.

How can I fix above errors?

[2018-02-18 10:01] IngaFeick commented on #15
@MangeshBhamre with the 1.0.4 version that is the official latest: you cannot fix the errors because as I said, it doesn't support protobuf 3 yet. Please install this gem
https://rubygems.org/gems/logstash-codec-protobuf/versions/1.0.5
and in your logstash input section, use the codec like so:
[code]
The import change is the last line that activates the protobuf 3 library.

[2018-02-18 10:07] MangeshBhamre commented on #15
@IngaFeick
I installed protobuf coded using "logstash-plugin install logstash-codec-protobuf"

There is no url or version I used. How can I install the one you specified?  Sorry, I am bit new here with logstash/protobuf.

[2018-02-18 10:12] IngaFeick commented on #15
Hi @MangeshBhamre, no problem, let me quickly walk you through this.
The command that you used will pull the latest official version. What you need to do instead is to download the gem file for the new version that I'm currently testing, from here:
https://rubygems.org/downloads/logstash-codec-protobuf-1.0.5.gem
Put it somewhere locally and then run
[code]
You just need to change the last part of

[2018-02-18 10:22] MangeshBhamre commented on #15
Hi @IngaFeick

I successfully installed your gem. Also updated logstash config

 codec => protobuf {
    class_name => "PBDNSMessage"
    include_path => ['/home/bitnami/dnsmessage.pb.rb']
    protobuf_version_3 => true
   }

However logstash not starting...
[2018-02-18T10:18:31,448][ERROR][logstash.agent           ] Failed to execute action {:action=>LogStash::PipelineAction::Create/pipeline_id:m

[2018-02-18 10:36] IngaFeick commented on #15
@MangeshBhamre could be a problem with the class name. Can you show me the protobuf ruby file, dnsmessage.pb.rb please?

[2018-02-18 10:37] MangeshBhamre commented on #15
I removed below line and logstash started. However errors continue now.

protobuf_version_3 => true

Here is the pb.rb
#!/usr/bin/env ruby
# Generated by the protocol buffer compiler. DO NOT EDIT!

require 'protocol_buffers'

# forward declarations
class PBDNSMessage < ::ProtocolBuffers::Message; end

class PBDNSMessage < ::ProtocolBuffers::Message
  # forward declarations
  class DNSQuestion < ::

[2018-02-18 10:38] MangeshBhamre commented on #15
Here is it on pastebin https://pastebin.com/1vbCKYVk

[2018-02-18 10:42] MangeshBhamre commented on #15
@IngaFeick  - It will be great if you connect with me on email. https://goo.gl/FuHwv3
I need to go out.

[2018-02-18 10:55] IngaFeick commented on #15
@MangeshBhamre you're using protobuf 2, not 3. If you want to switch to proto3, which I recommend for performance reasons, then please use the [official protobuf compiler](https://developers.google.com/protocol-buffers/docs/downloads) to generate proto3 ruby files. Afterwards please send me a pastebin link to the new ruby class. You should get something like dnsmessage_pb.rb instead of dnsmessage.

[2018-02-18 13:13] MangeshBhamre commented on #15
@IngaFeick  For me to use proto3, does that mean pdns also need to send me protobuf in ver3 format? (I guess so)
If you look at  .proto file from (https://doc.powerdns.com/recursor/lua-config/protobuf.html), it has
syntax = "proto2";
I tried compiling this file with protoc (3.5.1) and its complaint about "syntax=proto2".  This indicates to me that client and server both needs to be on same version

[2018-02-18 13:59] IngaFeick commented on #15
@MangeshBhamre

Not necessarily. You can read protobuf2 data with a protobuf3 definition. It's not an elegant thing to do though.

I haven't tested with logstash 6 yet. I will try to do that asap but it might take a couple of days, high workload currently. What you could test in the meantime is what jake did. As for your question

You'd put that in the filter section of your logstash config. There

[2018-02-18 15:36] IngaFeick commented on #15
@MangeshBhamre interesting observation. That's a helpful hint actually. I will look into it asap, thanks!

[2018-02-18 15:42] IngaFeick commented on #15
@MangeshBhamre it should be safe to use 1.0.0, yes. The versions afterwards were related to speed improvement and code quality, afair, and not bugfixes.

[2018-02-19 07:19] MangeshBhamre commented on #15
@IngaFeick I ran 1.0.0 overnight and found its too slow and missed almost 90% protobuf messages. I am using later version to not miss the events. It will be great if a newer version is available that address my list of errors.

[2018-02-19 09:25] invis87 commented on #17
@IngaFeick With changes in Dockerfile `RUN logstash-plugin install --version 1.0.5 logstash-codec-protobuf`
Logstash dont even start:
[code]

(with version 1.0.3 all works as I describe in 1st message, no other changes was made)

[2018-03-01 13:36] invis87 commented on #17
@IngaFeick Can you take a look please?

[2018-03-02 07:34] IngaFeick commented on #17
@invis87 sorry, I am currently out of office for a couple of days. I will look into it as soon as I am back, promised!

[2018-03-02 07:34] IngaFeick commented on #17
@invis87 sorry, I am currently out of office for a couple of days. I will look into it asap as soon as I am back, promised!

[2018-03-12 07:57] invis87 commented on #17
@IngaFeick Hello! Looks like you forget about this issue :(

[2018-03-12 10:34] IngaFeick commented on #17
@invis87  Hi there. I promise you I did not, I just came back into the office today :)
I submitted a PR a couple of days ago, https://github.com/logstash-plugins/logstash-codec-protobuf/pull/18
It might solve your issues, we tested it with logstash version 6. I haven't published the gem yet. Do you know how to build it? If not I can do that for you.

[2018-03-12 11:04] invis87 commented on #17
@IngaFeick Ohh, so there is already an issue for protobuf3 and looks like my bug is about this. Cool.
No, I don't how to build, and probably better to wait for gem :)

[2018-03-14 13:11] d0nski opened #19 "Nested protobuf messages"
Hi,

Is there a way to get this working with a nested protobuf message i'm getting from JMS using the JMS plugin?  I have an "envelope" protobuf message, within this there are several data fields including a message_data field which contains another protobuf message which is a Report protobuf message.  I have both the pb.rb files, and can decode the envelope fine, but am so far unable to figure ou

[2018-03-15 15:03] d0nski commented on #19
I've modified the plugin to do this myself - closing

[2018-03-15 17:25] kporter13 commented on #14
@IngaFeick Sorry to hijack this issue slightly, but I cloned your latest code for supporting proto3, and successfully built and installed it. When I try to start logstash however, I get exactly the same error as described above `LoadError: no such file to load -- google/protobuf`. My knowledge of Ruby is completely nil, and given I had to fiddle slightly with the gemspec dependencies to get it ins

[2018-03-16 12:30] IngaFeick commented on #19
Hi @d0nski , glad to hear that you fixed it! Would you mind sharing the solution with us for improving the codec, or sending a patch upstream? Would be much appreciated :)
Thank you!

[2018-03-16 12:40] IngaFeick commented on #17
@invis87 the PR has not been built yet so I have uploaded a preliminary version of it to dropbox. You should be able to download it (here)[https://www.dropbox.com/s/1f4cpzu7i78crhz/logstash-codec-protobuf-1.1.0.gem?dl=0] and then you install it by running
[code]
Please note also the changed configuration section, it's in the documentation of the pull request mentioned above. Let me know if it work

[2018-03-16 12:45] IngaFeick commented on #15
Hi @MangeshBhamre!
Sorry for the late reply. We have upgraded codec to 1.1.0 with a fresher version of the google protobug lib under the hood. Maybe that tackles your problems? It's not officially released yet but you can download the [version here for testing](https://www.dropbox.com/s/1f4cpzu7i78crhz/logstash-codec-protobuf-1.1.0.gem?dl=0) and then you install it by running
[code]
Please note th

[2018-03-16 12:53] IngaFeick commented on #14
@aliluyko89 Hi, we now have a protobuf 3 supporting version ready for testing. It's not officially released yet so I have uploaded a preliminary version of it to dropbox. You should be able to download it [here](https://www.dropbox.com/s/1f4cpzu7i78crhz/logstash-codec-protobuf-1.1.0.gem?dl=0) and then you install it by running
[code]
Please note also the changed configuration section, it's in the

[2018-03-16 12:53] IngaFeick commented on #14
@kporter13  looking into your issue now.

[2018-03-16 13:01] IngaFeick commented on #14
Hi @kporter13
I have built and tested with logstash 6.1.2 and I was not able to reproduce the problem that you described. There are two things you can do now:
1) either you test drive the precompiled version that I mentioned 2 comments above or
2) you give me a detailed description of what you did exactly when building the gem, or I can give you my bash history for building for you to run on your

[2018-03-16 13:04] IngaFeick commented on #10
Hi @fluency03 were you able to test the changes? Is your issue solved? If you can migrate your definitions to protobuf 3 then I can also offer you a new version with a different library under the hood, which is not only faster but maybe also fixes your problem. Please let me know if this issue is still open on your side or I can close it. Thank you!

[2018-03-16 14:01] MangeshBhamre commented on #15
Hi @IngaFeick

I tried it and not able to start logstash. Below are the errors seen.
My config
input {
 tcp {
    host => "0.0.0.0"
    port => 4040
  codec => protobuf {
        class_name => "PBDNSMessage.DNSResponse.DNSRR"
        include_path => ['/home/bitnami/dnsmessage.pb.rb']
        protobuf_version => 3
        }
        }
}
---------------------

[2018-03-16T13:59:24,951][INFO ][logstas

[2018-03-16 14:50] kporter13 commented on #14
@IngaFeick I'll just give the precompiled gem a run now that it's available. Thank you so much for your work on this, we've been really excited about proto3 support!

[2018-03-16 15:15] IngaFeick commented on #15
@MangeshBhamre are you sure you are using a protobuf 3 file? The compiler typically generates _pb.rb files for version 3, and yours ends in .pb.rb. Unless you renamed the file manually you might want to check which pb version it compiled to. Make sure that it is really protobuf 3 and then please upload the definition to gist or somewhere so that I can check the class name. Thank you!

[2018-03-16 17:22] MangeshBhamre commented on #15
Hi @IngaFeick
Looks like I need to stick to protobuf 2.  If you look at https://raw.githubusercontent.com/PowerDNS/pdns/master/pdns/dnsmessage.proto
it says proto2.

If I change it manually to proto3 and try to compile with protoc3, I get error message as below for all 'optional' fields.

dnsmessage.proto:78:14: Explicit 'optional' labels are disallowed in the Proto3 syntax. To define 'optional' f

[2018-03-16 19:46] IngaFeick commented on #15
Hi @MangeshBhamre, I don't recommend sticking with pb2 because the new lib is really much faster. Let's approach this differently: I can convert your protobuf definition into a version 3 ruby file for you tomorrow or on sunday and then you just use that. Should do the trick. I will send you that file this weekend. If you cannot wait and want this fixed immediately: just remove the quantifiers from

[2018-03-17 02:24] MangeshBhamre commented on #15
Hi @IngaFeick

I did what you recommended. Removed optional/Required and set 'proto3'. Additionally enum in proto3 requires first enum value to be 0. Added dummy value as well. Got successfully compiled now.

I tried new _pb.rb on logstash, however didn't work. Go below error. No protobuf messages were processed. Needed to revert back to old code.

[2018-03-17T02:15:37,832][WARN ][logstash.codecs.

[2018-03-17 07:01] IngaFeick commented on #15
@MangeshBhamre can you please provide the new _pb.rb file that you generated?

[2018-03-17 11:07] MangeshBhamre commented on #15
@IngaFeick  Here you go

_pb.rb - https://pastebin.com/7BTYBkLs

And edited .proto file as per your instructions - https://pastebin.com/JXWN6QSi

[2018-03-17 12:06] MangeshBhamre commented on #15
@IngaFeick
Hope above info is good enough for you. Let me know if you need anything more.

One important observation with ELK using this plugin over a long time (2-4 days)
+ If I use 1.0.3 gem, I see 15K documents in 15 minutes.
+ If I use 1.0.5 or 1.1.0 gem, I see only 4K documents in 15 minutes

Clearly, 1.0.5/1.1.0 is dropping documents due to errors  OR  1.0.3 is faster. You may need to go bac

[2018-03-19 12:15] IngaFeick commented on #15
@MangeshBhamre
* about the "Protocol message contained an invalid tag" problem: I have added an integration test for your protobuf class and I cannot reconstruct the issue. Is it possible that you have incompatible data on the wire? Is the producer side using the same protobuf definition and if so, in version 3 aswell?
* about the document throughput: the plugin is expected to halt immediately and

[2018-03-19 15:27] invis87 commented on #17
@IngaFeick cool!
Oh, I check new gem and... it is not working :)
With `protobuf_version => 3` I've got:
[code]

[2018-03-21 09:31] IngaFeick commented on #17
@invis87 can you please do an 'ls -la ' on the file mentioned in the error message (such as /some/config/MySuperProto.pb.rb ) and give me the output of that, also I need your current logstash config please and the actual protobuf definition file (ruby version). Thank you

[2018-03-21 09:58] invis87 commented on #17
@IngaFeick
First of all I want to say that If I remove `protobuf_version => 3` from logstash config  - it working, fail on deserealisation, but works at least :) So there is no probles with access to file.
1)
[code]
2) logstash config:
[code]

3) MySuperProto.pb.rb:
[code]
---
I edit class by hands to remove company data, so mistakes may occur. But you can find first message to find proto file

[2018-03-21 16:43] IngaFeick commented on #17
@invis87 you are trying to use a protobuf 2 file with a protobuf 2 class name together with the protobuf 3 version flag - that's not going to work. If you want to use protobuf 3 then you need to compile a protobuf 3 ruby file. Please look into the pull request that I mentioned above, it's README has a link to the google protobuf compiler that you need to generate a version 3 _pb.rb file. Also you

[2018-03-22 11:16] invis87 commented on #17
@IngaFeick Thanks, I fix this.
But still have problems - my message cannot be deserialized by this plugin.
I removed fields one by one and found that problems is with `int64` type.
I end up with this message:
[code]
Deserializations results for it:
[code]

Error message:
[code]

[2018-03-22 13:08] IngaFeick commented on #17
Hi @invis87, thank you lots for your debugging, much appreciated! Happy to hear that you made the new version work 👍 .
About the error message: sadly that's out of the scope of what I can fix because it's an error generated by the underlying library. It would be great if you could raise an issue with the [google protobuf compiler project](https://github.com/google/protobuf) to have this fixed on t

[2018-03-22 15:07] invis87 commented on #17
@IngaFeick Thanks to you too!
By the way - why you use `s.add_runtime_dependency 'google-protobuf', '3.5.0.pre'` pre release version? They release 3.5.2 already: https://github.com/google/protobuf/releases/tag/v3.5.2
Maybe this will fix problem :)

[2018-03-22 15:42] invis87 commented on #17
I learned how to build gems 😄 ; now testing your plugin with `s.add_runtime_dependency 'google-protobuf', '3.3.0'`, cause looks like 3.5* is bugged

[2018-03-23 08:37] IngaFeick commented on #17
@invis87 please see the mentioned pull request for a comment about why we have selected this version of the lib. Thank you

[2018-03-23 16:41] IngaFeick commented on #17
@invis87 can you give me an _exact_ example of a test message that this is reproducable with? It would make sense to test this independently from logstash. If you give me one set of all values plus the binary data that you try to decode (for checking that I produce the same data) then I am happy to run this through a ruby script and see how that behaves. Thank you.

[2018-03-26 07:56] invis87 commented on #17
@IngaFeick Okey.
1. proto file:
[code]
2. bytes: `[8,-12,3]`
---
this is serialized message for `response_time = 500l`. It will be deserialized to `7299055`

[2018-03-26 09:17] IngaFeick commented on #17
@invis87 I have tested this in both a standalone script and as an rspec test for logstash and I was not able to reproduce the problem. I'm not sure though how you would even provide the 500l to an integer field. Gives me syntax errors so I went with 500 instead. Please run this on your machine and let me know the output and your (j)ruby version. Thank you.
[code]

[2018-03-26 11:26] invis87 commented on #17
@IngaFeick I am scala backend developer and use this: https://github.com/thesamet/sbt-protoc to compile `*.proto` file to scala `case class`.
Int64 in protobuf is equivalent to JVM long .
---
in my logstash container i've got next output:
[code]

p.s. veeeery interesting

[2018-03-26 12:44] jorgelbg commented on #17
Hi @invis87 can you provide the code for a producer that is causing the described issues? You could take the ruby script provided by @IngaFeick as an example.

[2018-03-26 12:54] invis87 commented on #17
@jorgelbg my producer code is written in Scala. I can create repository special for this, if you want.

[2018-03-26 14:08] jorgelbg commented on #17
@invis87 If you can share even a small producer on your side that would greatly helpful. In our side we haven't been able to reproduce the issue.

In theory the binary representation (on the wire) of the data should be the same, because the type is not inferred from the language (scala/golang/java), but from the protobuf definition.

[2018-03-28 20:05] invis87 commented on #17
@jorgelbg here it is: https://github.com/invis87/protobuf-to-kafka

[2018-04-06 09:29] invis87 commented on #17
Hello! Guys, did you have a chance to test serialization?

[2018-04-16 13:40] jorgelbg commented on #17
Hey @invis87 we haven't had any time to check this yet, sorry about the delay.

[2018-04-16 13:54] jsvd commented on #14
solved by #18

[2018-04-16 13:54] #14 closed

[2018-04-23 12:10] pkoretic opened #20 "repeated Message root"
Hi.

So I'm trying to ingest a repeated Message.

A .proto is like this:
[code]
So I'm able to easily ingest one Event, but trying to ingest multiple events at once never ends up in elastic.
From the logstash logs I see that I have to send them like:
{ events: [event1, event2, ...]} so that they are not received empty, but that doesn't go into elastic. I even tried to split on the events field usi

[2018-04-23 15:09] dmitring-onefactor commented on #17
Hello! Guys, I'm progressing the task that @invis87 worked on. There is no bug in logstash-codec-protobuf. In the case @invis87 demonstrated there was a little misunderstanding of logstask-kafka-input plugin: he had to type `value_deserializer_class => "org.apache.kafka.common.serialization.ByteArrayDeserializer"` (default value is org.apache.kafka.common.serialization.StringDeserializer which cor

[2018-04-23 15:12] #17 closed

[2018-04-23 16:51] IngaFeick commented on #20
Hi. I just [added a test case](https://github.com/IngaFeick/logstash-codec-protobuf/commit/e5a1f522235f1b3d8da2c48ee3d01d68df506797) for that and it works just fine - as long as I don't name the classes Event/Events. I named them differently for my test because I had a hunch that there would maybe be a name collision with the actual logstash event class. Works fine in the version shown in the comm

[2018-04-23 19:35] IngaFeick commented on #20
Okay, this is not a task for the codec, as its sole functionality is to en- and decode the data. All document transformation needs go into the filter section of the logstash config, but fortunately I think I might be able to offer a solution for that. What you want to do sounds like a case for denormalization. I had a similar use case once, so here's a plugin for that :)
https://github.com/IngaFei

[2018-04-23 19:39] pkoretic commented on #20
Thanks @IngaFeick, sounds good. I was hoping data could be decoded directly into multiple events without filters using some format like with json :)

[2018-04-23 19:39] #20 closed

[2018-05-11 09:18] hooom opened #22 "Unexpected EOF error occured while decoding protobuf message from kafka"
backgroud: logstash-codec-protobuf plugin produces proto messages and output to kafka. Another plugin consumes kafka data and decodes proto message. But some message parse failed.

error info : com.google.protobuf.InvalidProtocolBufferException: While parsing a protocol message, the input ended unexpectedly in the middle of a field.  This could mean either than the input has been truncated or that

[2018-05-14 12:26] IngaFeick commented on #22
Hi there,
could you please provide the protobuf definition, the logstash config and one or two sample messages that trigger this error message (if possible)? Thank you!

[2018-05-14 18:42] asidorenk03 opened #23 "Decode multiple classes from the protobuf stream"
Is it possible to decode the different pb definitions from the same datasource?

[2018-05-14 20:14] IngaFeick commented on #23
Hi! As in: you have one kafka topic or whatever datasource and on that event stream you have messages that are encoded in different definitions? No, that's not currently decodable, sorry. I cannot think of an easy way to add this as a feature right now. If it's important but not urgent I could look into it in a week or two, but I recommend not to get your hopes up high.

[2018-05-16 06:32] IngaFeick commented on #22
What does your logstash config look like, please?

[2018-05-28 16:16] jake2184 commented on #15
Still having many error messages from this.

It looks like the underlying library is throwing a lot of errors, e.g.:
` ProtocolBuffers::DecodeError: invalid message`
` ProtocolBuffers::DecodeError: incorrect wire type`
`undefined method '<<' for false:FlaseClass>`

I am using the proto file generated from https://raw.githubusercontent.com/PowerDNS/pdns/master/pdns/dnsmessage.proto without edits.

[2018-05-29 07:21] IngaFeick commented on #15
@jake2184 would you mind sharing your logstash input configuration? Thank you

[2018-05-29 09:20] jake2184 commented on #15
Here:
[dns_logstash.txt](https://github.com/logstash-plugins/logstash-codec-protobuf/files/2047539/dns_logstash.txt)

[2018-05-29 09:28] IngaFeick commented on #15
@jake2184, you are using protobuf 2. The improvements that I announced are only available when you switch the codec to protobuf 3. Some simple steps are required:
* in your protobuf definitions,
  * change the syntax version (first line) from 2 to 3.
  * remove all 'optional' and 'required' modifiers. They don't exist anymore in pb3.
* recompile them with the official google pb compiler. You shoul

[2018-05-29 09:49] jake2184 commented on #15
As Mangesh described above, the sending software uses v2. I shouldn't need to upgrade to V3. I want to deviate from the v2 template as little as possible.

Are you stating that the plugin **does not** support v2 anymore?

I'm concerned with making it work, not about performance. Will upgrading to v3 fix any of the issues?

[2018-05-29 09:57] IngaFeick commented on #15
Okay, background information:
In the first versions of the plugin we have been using a protobuf library that was not written by google. Reason: the Google protobuf lib does not support protobuf 2, the other library did. Now more people are migrating to Protobuf 3 so it made sense to add that option. So we ship the codec with 2 completely different libraries and it uses the "old" one for protobuf v

[2018-05-29 10:20] jake2184 commented on #15
Thank you for that - it now makes more sense.

Upgrading to v3, I get the same errors as Mangesh above - `invalid tag (zero)`.

In response to your comments, the producer of data is using the original v2 protobuf file from the PDNS website.

[2018-05-29 10:47] IngaFeick commented on #15
@jake2184 thank you! Sorry to hear that. Can you estimate the percentage of messages for which this happens? Do they all fail or do some messages come through? If the 2nd applies, is it possible for you to log outgoing messages on the producer side and if so, could you identify and send me 1 or 2 of those that fail to be decoded?

[2018-05-29 11:28] jake2184 commented on #15
With v3, no messages get through.

I can do a packet capture, which probably isn't much help, but I can't easily log what the software is sending - it's compiled C.

[2018-05-29 15:25] jake2184 commented on #15
No problem, thank you.

[2018-05-29 16:59] IngaFeick commented on #15
@jake2184, couple of updates:
first my apologies, I have given you incomplete instructions on how to migrate the protobuf definitions to version 3. You also need to make sure that all enums have an option with value 0. Here's [a ruby version of it that definitely works](https://github.com/logstash-plugins/logstash-codec-protobuf/blob/master/spec/helpers/pb3/dnsmessage_pb.rb), you can maybe use it

[2018-05-30 12:31] dtheodor opened #24 "Document class_name in version 3"
It took me forever to debug why I was getting `The given configuration is invalid. Reason: undefined method 'msgclass' for nil:NilClass` errors.

The class_name when using proto 3 should be the string value that the google library uses to register the object in the descriptor pool, e.g. by calling `add_message "animals.Cow"`. This is the same string used in the bottom of the generated file to look

[2018-05-30 14:51] jake2184 commented on #15
The .pb file I am using already has the Dummy variables, and matches completely the one you provided.

[2018-06-04 10:36] IngaFeick commented on #15
@jake2184 👍
Did you see my explanation above on why this bug is actually desired behaviour?

[2018-06-04 10:38] IngaFeick commented on #24
Hi @dtheodor, thanks for the info. I will point that out in the README.

[2018-06-04 10:54] jake2184 commented on #15
Yes, I think what is not clear perhaps is the original issue topic doesn't matter so much, of being able to turn the bytes into an IP address - the Ruby code I wrote fixed that.

My current problem is the incessant errors being logged, and the fact when I upgrade to proto3 as described I cannot get any messages to decode.

[2018-06-13 02:16] corsc commented on #24
Sorry, I am facing this issue as well but my generated `.pb.rb` file has no `add_message` calls at the bottom.
Any ideas?

[2018-06-14 02:52] corsc opened #26 "Possible doco extension"
I am writing from Go to Kafka.

I was getting error messages like:
`Couldn't decode protobuf: #<RuntimeError: CodedInputStream encountered a malformed varint.>.`
And:
`Couldn't decode protobuf: #<RuntimeError: Protocol message end-group tag did not match expected tag.>.`
And even incorrect data sometimes.  My int64 was coming through with the wrong value.

Turns out the issue not setting the seria

[2018-06-14 08:56] IngaFeick commented on #26
Thank you, Corey, much appreciated! I will add that. Cheers!

[2018-06-14 09:18] IngaFeick commented on #15
@jake2184 it has just been pointed out in https://github.com/logstash-plugins/logstash-codec-protobuf/issues/26 that we seem to be having a documentation issue when it comes to the kafka plugin specifically. You have to set the deserializer classes in your kafka config (outside the protobuf config) like so:
[code]
Could you please test if that solves the issue?
If this solves the problem: a thousa

[2018-06-14 09:48] jake2184 commented on #15
As my config uploaded above shows, I am not using a kafka input. I am using tcp input, using the protobuf codec.

[2018-06-14 17:18] #24 closed

[2018-06-14 17:18] #26 closed

[2018-06-14 23:13] corsc commented on #26
No worries and definitely no need to apologise.  Thanks again

[2018-06-15 12:12] IngaFeick commented on #15
@jake2184  my apologies. My mind was elsewhere :)

[2018-07-03 12:00] Xztty opened #27 "how does the this plugin deal with sticky packet when use it in tcp input ?"
https://github.com/logstash-plugins/logstash-codec-protobuf/blob/bd970347048932f8f39ca7addb4db91462593bdb/lib/logstash/codecs/protobuf.rb#L77

I am newbie in Ruby. From the code above,  it seems like it didn't deal with sticky packet. It just decode the data from logstash-core with protobuf decoder. ( I print out the type of data, it is `String`) But the data may be part of one protobuf message or

[2018-07-03 12:14] IngaFeick commented on #27
Hi,
would you mind providing a full failing test, such as the tool that you use to produce said data? Thank you.

[2018-07-03 15:16] Xztty commented on #27
I have commit the code here  https://github.com/Xztty/pytools

You can reproduce the result like this.

- use test logstash `test/test_codec_logstash.conf` and put `n.pb.rb` in the write place. and then start logstash with this config
- run command like this, the test_rawdata.txt have two protobuf massage duplicated
`python send_bytes.py test/test_rawdata.txt 127.0.0.1 5999`
- from the logstash ou

[2018-07-04 13:03] IngaFeick commented on #27
Thanks @Xztty. Are you sure this is an issue with the codec, though? Asking for two reasons:
a) it is the input plugin's responsibility to receive the incoming data and cut them into appropriate pieces. The codec's responsibility is to transform said pieces from format a to a desired format b. If the data is not being dissected correctly in the first place then this would fall into the domain of t

[2018-07-04 15:18] henriklb opened #28 "Error when trying to run .pb.rb compiled by ruby-protobuf"
I compiled my .proto files with https://github.com/ruby-protobuf/protobuf and NOT the suggested complier because I need the extensions feature. When using the plugin I get the error below.

I am new to this, I would appreciate your help.

[optics.pb.rb.txt](https://github.com/logstash-plugins/logstash-codec-protobuf/files/2163698/optics.pb.rb.txt)
[optics.proto.txt](https://github.com/logstash-plu

[2018-07-04 15:19] IngaFeick commented on #28
Hi, please provide your logstash config, especially the input section. Thank you.

[2018-07-04 15:21] IngaFeick commented on #28
Also: which logstash version are you using and which version of the plugin did you install? Thanks.

[2018-07-04 15:30] henriklb commented on #28
[logstash_conf.conf.txt](https://github.com/logstash-plugins/logstash-codec-protobuf/files/2163710/logstash_conf.conf.txt)
Logstash 6.3.0
logstash-codec-protobuf 1.1.0

[2018-07-04 15:49] henriklb commented on #28
If I only compile the _single_ file telemetry_top.proto **with** the [recommenced compiler](https://github.com/codekitchen/ruby-protocol-buffers)  that works just fine. However, then I'm not able to decode the entire message (missing optics.proto)

As already mentioned in my first post, when I try with an alternative compiler then it will not run at all.

[2018-07-04 15:50] IngaFeick commented on #28
These things jump at me:

- the telemetry_top.pb.rb is included in your logstash config but it requires another pb file called 'google/protobuf/descriptor.pb'. What's the deal with that one? Does it exist? And why is its file extension not .rb ?
- you only provided one file in the logstash config but it should be two, because the telemetry_top one is being required by the optics file. All required

[2018-07-04 16:17] henriklb commented on #28
1. In my current environment it does not exist. It has been used [here](https://github.com/JNPRAutomate/fluent-plugin-juniper-telemetry/blob/master/junos-telemetry/google/protobuf/descriptor.proto) in a fluentd plugin . I do not think it is needed the import of 'google/protobuf/descriptor.pb' is needed in any way.

2. I tried both with a one file and both files in the` include_path` , still very s

[2018-07-05 09:56] henriklb commented on #28
I noticed that because I use the https://github.com/ruby-protobuf/protobuf compiler the complied '.pb.rb' files of `require 'protocol_buffers` when compiled with your suggested codekitchen/ruby-protocol-buffers.

I noticed that because I use the https://github.com/ruby-protobuf/protobuf compiler the complied .pb.rb files `require protocol_buffers`  are replaced with `require 'protobuf` instead.

T

[2018-07-07 13:16] Xztty commented on #27
from [codec](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-tcp.html#plugins-inputs-tcp-codec)
`The codec used for input data. Input codecs are a convenient method for decoding your data before it enters the input, without needing a separate filter in your Logstash pipeline.`

[2018-07-11 08:00] henriklb commented on #28
I found my solution https://github.com/Juniper/fluent-plugin-udp-native-sensors. Thanks for your time.

[2018-07-11 08:00] #28 closed

[2018-09-04 08:13] sunchanglong1991 opened #29 "Logstash uses protobuf, running error: NoMethodError”, :message=>”undefined method `msgclass’ for nil:NilClass”"
I use google protobuf in the logstash input,Start error when running logstash。

Logstash version is 6.3.0, protoc version is 3.6.1, ruby-protoc version is 1.6.1, Elk community question connection is as follows： https://discuss.elastic.co/t/logstash-uses-protobuf-running-error-nomethoderror-message-undefined-method-msgclass-for-nil-nilclass/144806?u=sun_changlong

Is it my environmental factor or t

[2018-11-16 15:48] felipe-conde-benavides commented on #23
Hi, I have the following scenario:
* TCP input
* "protobuf" codec

I am receiving several messages types into the same input TCP port, all of them in GPB format (they contain metrics information), so I really need to decode each message type using a different "proto definition". Is there any way to do that?

I have been thinking about to set one different input port per metric type but this is not

[2018-11-17 08:31] IngaFeick commented on #23
Good morning.
With the current version of the codec, this isn't possible yet but I'd be happy to implement it if you can think of a way to specify the protobuf class per event. How would you identify which tcp events to decode with which class?

[2018-12-10 22:52] willbuckner opened #31 "Support encoding timestamp as google.protobuf.Timestamp"
It appears that currently, all fields in the protobuf must be strings. Is it currently possible to encode `@timestamp` as a `google.protobuf.Timestamp timestamp` in the protobuf? Unless there is currently some way to do this that I'm missing, please consider this a feature request :) Thanks!

[2018-12-19 12:03] IngaFeick commented on #31
Hi @willbuckner,
the fields in the protobuf definition don't have to be strings. You can use all the scalar data types that google has defined, and all complex data types that you import or define yourself. Which protobuf version and programming language are you using? I assume v3 and java?
Could you please provide a full test case, including your protobuf definition, the compiler call (or name of

[2018-12-19 12:34] flying1020 commented on #27
The issue is logstash send every event without any separator whe use tcp output plugin.
Tcp server cannot split events which reveiced.
How can i specified a special separator just like '\n' or '\r'?

[2018-12-19 12:54] IngaFeick commented on #31
Please also be aware that the @timestamp field is used by logstash for the event date, so the type of that field will be set by logstash itself, unrelated to the protobuf codec.

[2018-12-27 23:05] willbuckner commented on #29
I am having this same issue as well.

[2018-12-28 12:50] IngaFeick commented on #29
Hi @willbuckner  and @sunchanglong1991 , could you please provide your logstash configs, at least the input section, and the protobuf definitions that you are referencing? Thank you.

[2018-12-28 12:52] IngaFeick commented on #29
@sunchanglong1991  could you please try to change the following in your logstash config:

Instead of
`class_name => ["Elk.ElkData"]`
try
`class_name => ["elk.ElkData"]`
?

Thank you and sorry for the late reply.

[2019-01-28 10:59] ZAZmaster commented on #15
@jake2184 hi, did you manage to collect logs from pdns?

[2019-02-12 15:04] gferreux opened #33 "multiples map with the same name in different classes"
Hi,

Not sure if this is related to the codec or the way logstash "include" the codec config, but i cannot manage to have multiples classes with the same variables names when they are of type "map".
It look like, the codec create some map.key , map.value fields that cannot be defined multiples time with the same map names, event in differents classes.

Here is an example:

- logstash input:
[code]

[2019-02-13 12:13] PhilippHomann opened #34 "Cannot use protobuf codec with http input"
When using http input combined with protobuf codec I receive following error:
`[WARN ][logstash.codecs.protobuf ] Couldn't decode protobuf: #<ProtocolBuffers::DecodeError: too many bytes when decoding varint>.`
with other proto
`Couldn't decode protobuf: #<ProtocolBuffers::DecodeError: invalid message>`

Tested with the very basic unicorn.proto from [here](https://tech.trivago.com/2016/01/19/logst

[2019-02-21 22:40] yaauie commented on #33
Unfortunately, it looks like this is a long-standing issue with the official jruby protobuf implementation:

https://github.com/protocolbuffers/protobuf/issues/3650

***

I can replicate in a single protobuf definition file, without logstash

[code]

[2019-03-09 14:58] lecoan opened #35 "the doc is out of date"
Hey, I found the doc in https://www.elastic.co/guide/en/logstash/current/plugins-codecs-protobuf.html is out of date and could be really misleading if someone use protobuffer3.
this doc is written for user who use version 2 but doesn't indicate this, which takes me lots of time to figure it out why logstash keep send me warning

[2019-03-13 13:26] IngaFeick commented on #35
Thanks a lot @lecoan !

[2019-03-14 08:14] jendamozna opened #37 "DecodeError of juniper telemetry port.proto"
Hello
im getting error when trying to parse juniper telemetry data

logstash 6.6.1
logstash-codec-protobuf (1.1.0)
libprotoc 3.7.0
ruby-protoc 1.6.1

[code]

logstash config:
[code]

I can succesfully read data this way:
[code]
protoc.decode.txt
https://pastebin.com/30upp1ep

protoc.decode_raw.txt
https://pastebin.com/pcJYAvpf

port.proto
https://pastebin.com/RZt7CgRt

port.pb.rb
https://pastebin.

[2019-03-14 11:38] IngaFeick commented on #37
Hi. Yes, you need to include the telemetry_top file aswell, before you include the other one. The class name looks okay.

[2019-03-14 12:11] jendamozna commented on #37
here are some tests... no success still

[code]

[code]

[code]

[code]

[code]

I expect i could iterate over interfaces... using json/split...

[2019-04-03 10:33] jvmlet commented on #34
Don't you need to base64-decode first ?

[2019-04-03 11:25] PhilippHomann commented on #34
I base64 encoded the binary file to paste it here ;-)
Not send the base64 encoded data to logstash.

[2019-04-03 11:41] jvmlet opened #39 "Imported proto can't be loaded"
Hello
It looks like the imported proto (the corresponding `rb` file) can't be found.
Here are my proto files:

**child.proto** :
[code]

**parent.proto**  :
[code]

Generated  **parent_pb.rb**:
[code]

Note the **require 'child_pb'**

Generated **child_pb.rb**:
[code]

Both **child_pb.rb** and  **parent_pb.rb**  reside under **C:/test/** directory.

The `proto-pipeline.conf`:
[code]
Running ` bin/

[2019-04-03 11:48] jvmlet commented on #34
How do you send then `byte[]` over http ? `Charset` ,`Content-Type` ?
Can you add the file output to your pipeline without codec and compare the binaries ?

[2019-04-05 08:58] rahulkumar-pawar opened #40 "Nested message does not work with multiple schema files or same file"
We are currently using protobuf, and written code something like
Common log schema

[code]

Device log schema
[code]

version specific schema
[code]

in logstash using
[code]

After starting Logstash service, I always get error like
`error=>#<NoMethodError: undefined method 'eventTime=' `
sometimes with different variable which is part of either CommonLog or DeviceLog

I have used ruby-protoc to c

[2019-04-10 10:54] rahulkumar-pawar commented on #40
Trying with multiple messages in the same file and getting error like
``error=>#<TypeError: can't assign Hash to ProtocolBuffers::Field::MessageField>``

[2019-04-16 15:48] pelalartategui opened #41 "Undefined method add_file add_file - protobuf 3"
I use protobuf 3, compiled with official google compiler as codec in Kakfa input.
**Logstash version: 6.7.1
plugin version: 1.1.0**

**ERROR:**
[code]

**Kakfa input:**
[code]

Thank you a lot.

[2019-04-17 13:47] marcosflobo commented on #29
Hi all,

Any resolution on this?

Thanks

[2019-04-17 14:27] IngaFeick commented on #41
Hi!
This error is caused by an incompatibility between your protoc version (probably 3.7?) and the rather old jruby implementation that is shipped with this codec. The problem is that the jruby version is not well maintained and we cannot easily update it ourselves. We're looking into this though.
In the meantime you can workaround this by using the 3.5.0 version of protoc.

[2019-04-17 15:21] IngaFeick commented on #29
@marcosflobo To me it looks like a configuration error. Can you provide your logstash config and protobuf classes? Happy to have a look. Thanks :)

[2019-04-17 16:05] IngaFeick commented on #40
Hi,
can you please give me the exact version of your protobuf compiler, and your command for compilation? Also the repo/github project that you downloaded the compiler from? Thx

[2019-04-18 10:13] rahulkumar-pawar commented on #40
@IngaFeick

Tried with ruby-protoc and now [official google compiler (https://github.com/protocolbuffers/protobuf/releases) .
But I missed adding protobuf_version in logstash configuration. So added the version 3 in conf. (Updated code in question).
Adding this got an error
 `Failed to execute action {:action=>LogStash::PipelineAction::Create/pipeline_id:main, :exception=>"NoMethodError", :message

[2019-04-19 08:05] rahulkumar-pawar commented on #40
Diggin more in to the code, It is breaking at line
` @pb_builder = Google::Protobuf::DescriptorPool.generated_pool.lookup(class_name).msgclass`

tried to print `generated_pool `and `metainfo_messageclasses `and got the following output

`[2019-04-19T07:33:27,024][WARN ][logstash.codecs.protobuf ] Message Classes {"structurelogs.VersionSpecificDeviceLog"=>{}}
[2019-04-19T07:33:27,119][WARN ][logsta

[2019-04-22 16:02] #41 closed

[2019-04-22 16:02] pelalartategui commented on #41
Thank you!

[2019-04-23 06:27] rahulkumar-pawar commented on #40
Well, I was able to resolve the error but removing package name from .proto and provide the only name to the `class_name` property in logstash conf.
Compiled .proto with 3.5.0 version.
Working for me is

[code]
This works with the nested message.

Another point is though I'm able to resolve the issue performance is 1/4 of JSON codec. Looking into it now.

Keeping it open for closing comment from @

[2019-04-24 05:23] rahulkumar-pawar commented on #29
if `elk ` is the package name in your .proto it might get initialized. Faced the same issue and by removing package name and compiled it then provide only class name referred from compiled _pb.rb file. This helps me to solve the issue.
One more thing you have to compile .proto with Google official compiler 3.5.0.

Still looking into it, why it is throwing an error if the package name is part of .p

[2019-04-24 14:41] vaisov opened #42 "Couldn't decode protobuf: org.logstash.MissingConverterException: Missing Converter handling for full class name"
Getting this error for all messages taken from kafka. Enabled debug in Logstash, but apart from the error below don't get anything. Tried with Logstash 6.4.1 and 7.0.0

Pipeline starts fine:
[code]

Error:
[code]

Here is the setup we have:

Pipeline:
[code]

Proto scheme:
[code]

Converted Ruby scheme:
[code]

[2019-05-08 05:47] rahulkumar-pawar commented on #40
I could see the regex used to convert '@field_name' to 'field_name' taking time to execute. Ran the same load on single core and it is processing the 1K extra messages if we remove regex.

code
[code]
closing the defect as I got the proto 3 working with nested messages and performance factor.

[2019-05-08 05:47] #40 closed

[2019-05-09 23:31] IngaFeick commented on #29
@marcosflobo thanks a lot for the feedback!

[2019-05-09 23:31] #29 closed

[2019-05-14 06:44] mngan commented on #15
It looks like logstash is UTF-8 encoding the data from the Protobuf bytes field. If I have an IP address such as 205.196.6.2, I end up with a field with ""\uFFFD\uFFFD\u0006\u0002". The \uFFFD is the UTF-8 replacement character since there isn't a valid mapping from the ASCII values 205 and 196. So there is no way to recover the original data. Is there some way to stop logstash from encoding the d

[2019-05-28 13:58] IngaFeick commented on #35
Update to documentation has been merged.

[2019-05-28 13:58] #35 closed

[2019-05-28 14:01] IngaFeick commented on #39
Hi @jvmlet
Can you remove the `file://` from the beginning of the pathes and let me know if that changes the behaviour? Thank you.

[2019-05-28 14:03] IngaFeick commented on #33
@yaauie thanks for the info!
@gferreux I'm closing this because it's not related to the codec.

[2019-05-28 14:03] #33 closed

[2019-05-28 14:03] IngaFeick commented on #23
Hi @felipe-conde-benavides
Do you still need this or can we close the issue?

[2019-05-28 14:04] IngaFeick commented on #31
Hi @willbuckner
Do you still need anything or can we close this?

[2019-07-11 08:13] vaisov commented on #42
@IngaFeick did you have any chance to look into this issue?

[2019-07-11 08:37] IngaFeick commented on #42
@vaisov sorry, didn't have time yet. I'm going to try to reproduce this asap.

[2019-07-11 13:39] IngaFeick commented on #42
@vaisov I have not been able to reproduce the issue yet. Can you send me one or two examples which trigger this?

[2019-07-15 09:35] hugobally opened #47 "Support for 'Any' type"
Hi,

**[ edit : 'Any' seems to work except on this specific bug case ]**

[for reference, here's the current behavior on my side]

Wrapper message :
[code]

Logstash config
[code]

Error :
[code]

[2019-07-15 12:07] IngaFeick commented on #47
@hugobally which version of the protobuf codec have you tested this with?

[2019-07-15 12:20] hugobally commented on #47
`logstash-codec-protobuf-1.2.1` and logstash 7.2

[2019-07-15 12:32] IngaFeick commented on #47
@hugobally thx. Would you mind providing the ruby version of the protobuf file aswell? Thanks.

[2019-07-15 12:44] hugobally commented on #47
it was compiled with
`ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin18]`
using those dependencies
[code]

Here's the full file [with generic naming]

[code]

[2019-07-15 12:46] IngaFeick commented on #47
Thanks, I will look into it as soon as I find a minute.

[2019-07-15 12:55] jorgelbg commented on #47
I'm not sure that this error is coming from the `Any` type (on the protobuf definition) but instead looks like it is related to the data itself (see https://github.com/protocolbuffers/protobuf/issues/4228).

@hugobally Could you include the original data that is causing the exception? at least the relevant field?

[2019-07-15 14:07] hugobally commented on #47
I've done some testing following your comment @jorgelbg , using the simple wrapper message I showed above but with the following simpler message in the 'Any' field :
[code]

the codec did not crash and happily passed the message along.
So it seems I was mistaken in thinking Any is not supported, my mistake !
Here's an edited version of the actual message that causes the crash :
[code]

[2019-07-15 15:05] hugobally commented on #47
Upon further investigation, when sending a wrapped message using the following code and the proto from my previous comment :

[code]

the codec does not crash, however when adding a float field like so :
[code]
I get a crash with the following trace
[code]

[2019-07-17 14:28] vaisov commented on #42
Meanwhile our proto schema has changed a bit and to show you couple of examples I had to re-configure the pipeline. Now the plugin even fails with fatal error (follows). I also pasted couple of messages from the topic which are already present in the topic and they might be the cause.

Error:
`[2019-07-17T14:16:47,840][ERROR][logstash.javapipeline    ] A plugin had an unrecoverable error. Will res

[2019-07-31 10:29] vaisov commented on #42
@IngaFeick were you able to reproduce this issue?

[2019-08-12 15:26] IngaFeick commented on #42
@vaisov can you give me an unencoded message please? I need to know the exact values which are causing this. Also of interest: which version of the codec are you using and what language/lib are you writing the messages into Kafka with?

[2019-08-14 08:55] vaisov commented on #42
[code]

[2019-08-14 13:07] IngaFeick commented on #42
@vaisov  thx

[2019-08-14 13:17] IngaFeick commented on #42
@vaisov How are you generating the messages exactly?

[2019-08-14 14:02] IngaFeick commented on #42
@vaisov I see neither `eventId` nor `reservationId` in the protobuf definition. Also `instructedAmount.cy` is called `instructedAmount.currency` in the PB def. Can you please send a the new protobuf file? Thanks

[2019-09-04 09:16] vaisov commented on #42
New protobuf file:
[code]

[2019-09-04 09:21] vaisov commented on #42
New example entry:
[code]

[2019-09-10 15:24] mohsin106 commented on #37
Hi @jendamozna, I'm trying to collect telemetry data from a Juniper PTX10K using Juniper's native sensor model. Do you have any documentation I can read that will help me accomplish this using Logstash? I understand I'm going to need to generate Google proto buff files from the router and then specify those files in my Logstash conf file. I'm currently able to collect OpenConfig sensor data using

[2019-09-10 18:32] jendamozna commented on #37
Hi @mohsin106, i wasn't able to do that via logstash, i've solved it with some fluent/juniper/telegraf plugin. I was working only with InterfaceStats protobuf.

[2019-09-10 18:37] mohsin106 commented on #37
@jendamozna , ok cool thanks.

[2019-09-17 16:13] jorgelbg commented on #39
@rimvydas-pranciulis strange, the documentation should have been updated already since we released 1.2.2. Also, although we added those new configuration options the old `include_path` should continue to work (if all the dependencies of the `class_name` were specified as absolute paths in the `include_path`).

We will look into that. FYI @IngaFeick

[2019-09-18 06:36] rimvydas-pranciulis commented on #39
@jorgelbg `include_path` only worked if everything was in one file. When I had two files I was getting error that `require` fails (I put file without `require` as first in include_path). I'm on Windows, using proto3 and used absolute file paths like `c:/logstash/proto-files/test_pb.rb`

[2019-09-18 07:37] rimvydas-pranciulis commented on #42
@IngaFeick I'm colleague of @vaisov and we finally figured out what was wrong - issue was caused by having `key_deserializer_class` property set, but using Kafka messages without key. After removing `key_deserializer_class` everything works fine.

Even though issue was on our side, there are few improvements that could be made on plugin as well:

1. Documentation - currently it tells _"When using

[2019-12-19 15:18] duculete opened #49 "Tried to load a plugin's code, but failed"
I get this error when I am using this plugin with logstash 7.4.2

Tried to load a plugin's code, but failed. {:exception=>#<LoadError: no such file to load -- logstash/codecs/protobuf>, :path=>"logstash/codecs/protobuf", :type=>"codec", :name=>"protobuf"}

[ERROR][logstash.plugins.registry] Tried to load a plugin's code, but failed. {:exception=>#<LoadError: no such file to load -- logstash/codecs

[2019-12-19 15:33] #47 closed

[2019-12-19 15:46] IngaFeick commented on #49
Hey, can you please run `bin/logstash-plugin list --verbose | grep -i proto` and report the outcome?

[2019-12-20 09:18] duculete commented on #49
Hello,

bin/logstash-plugin list --verbose | grep -i proto
logstash-codec-protobuf (1.2.2)

[2019-12-21 11:58] IngaFeick commented on #49
Would you mind posting your full configuration? Thanks

[2020-01-17 14:11] duculete commented on #49
Fixed, some permissions problem.

[2020-01-17 14:26] duculete opened #50 "deserialize byte array field"
I have this proto def:

message DataSet {
    string field1 = 1;
    bytes field2 = 2;
    bytes field3 = 3;
    int32 filed4 = 4;
}

message TopicData {
    string schemaversion = 1;
    DataSet dt1 = 2;
    DataSet dt2 = 3;
    DataSet dt3 = 4;
    DataSet dt4 = 5;
}

field2 and field3 are byte array and contains encrypted data.

my logic is to use protobuf to get data from kafka, then use ruby

[2020-01-28 18:36] al-henrychen commented on #15
@mngan I am working on a similar project as well. I changed flow.proto to use string for ip addresses. I use protoc to compile a new flow.pb.go and flow_pb.rb But this logstash plugin still ran into a UTF-8 issue.

I must have missed something. How did you change encoding for IP addresses?

[2020-01-28 18:46] mngan commented on #15
It isn’t just a matter of changing the format of the field in the protobuf. The IP needs to be formatted as a string of characters representing the IP rather than a string of bytes, which is what I suspect you are doing. Logstash is really text oriented, so the data really needs to be formatted as text and skip using binary formats.

[2020-01-29 00:44] al-henrychen commented on #15
Thanks. I will see what I can do.

On Tue, Jan 28, 2020 at 10:46 AM mngan <notifications@github.com> wrote:

--
Henry Chen
Netops, Applovin, Inc.
650-995-3805

[2020-04-02 12:26] dhanashri-pitre commented on #31
Hi,
I am using the codec along with ruby-protoc compiler.
In my proto2 message I have google.protobuf.Timestamp and
I get following error Reason: #<NameError: uninitialized constant Google::Protobuf::Timestamp>
while loading the proto file.
Can we please look into this.
Thanks.

[2020-04-02 12:31] IngaFeick commented on #31
Hi @dhanashri-pitre
could you please provide your protobuf definition and the protobuf codec section of your logstash config? Thank you

[2020-04-02 13:09] dhanashri-pitre commented on #31
Here is the proto msg
syntax = "proto2";
package b;
option java_package = "com.xyz.b";
option java_outer_classname = "Example";
import "google/protobuf/timestamp.proto";
message I {
    required google.protobuf.Timestamp i_time = 1;
    required int64 a_id = 2;
    required int64 c_id = 3;
}

And this is the conf
input
{
        kafka
        {
                bootstrap_servers => "localhost:9092"

[2020-04-02 15:55] IngaFeick commented on #31
Thanks @dhanashri-pitre, I will look into this

[2020-04-02 17:56] jorgelbg commented on #31
@dhanashri-pitre how did you compile the `.pb.rb` file? Can you share the ruby compiled version of your proto message?

[2020-04-03 04:15] dhanashri-pitre commented on #31
Hi,
I compiled the file using [ruby-protocol-buffers](https://github.com/codekitchen/ruby-protocol-buffers)
Here is the example.pb.rb

require 'protocol_buffers'
begin; require 'google/protobuf/timestamp.pb'; rescue LoadError; end

module B
  # forward declarations
  class I < ::ProtocolBuffers::Message; end

  class I < ::ProtocolBuffers::Message
    set_fully_qualified_name "b.I"

    required :

[2020-04-03 08:18] IngaFeick commented on #31
@dhanashri-pitre  did you install any gems related to the timestamp prior to this? When I try to do this with the same compiler I run into
`google/protobuf/timestamp.proto: File not found.
GoogleTimestampTest.proto: Import "google/protobuf/timestamp.proto" was not found or had errors.
GoogleTimestampTest.proto:7:9: "google.protobuf.Timestamp" is not defined.`
which is to be expected.
Could you kin

[2020-04-03 08:22] dhanashri-pitre commented on #31
I did not install any new gem, only the ruby-protocol-buffers gem
And here is the list of gem available on my machine :
bigdecimal (default: 1.4.1)
bundler (default: 1.17.2)
CFPropertyList (2.3.6)
cmath (default: 1.0.0)
csv (default: 3.0.9)
date (default: 2.0.0)
dbm (default: 1.0.0)
did_you_mean (1.3.0)
e2mmap (default: 0.1.0)
etc (default: 1.0.1)
fcntl (default: 1.0.0)
fiddle (default: 1.0.0)
fil

[2020-04-06 12:00] jorgelbg commented on #31
@dhanashri-pitre `google/protobuf/timestamp.proto` seems to be compatible with protobuf v3 only. Even so, it seems just to be a `.proto` definition offered only by the official protobuf library for convenience and not a core feature of the language. I don't see any type of support for that particular timestamp in the `ruby-protocol-buffers` gem.

You should be able to adapt the `google/protobuf/ti

[2020-04-08 12:56] dhanashri-pitre commented on #31
@jorgelbg Thank You, adapting timestamp.proto and using the local dependency worked for me.

[2020-04-09 11:00] #31 closed

[2020-04-27 13:00] Oleksa31 commented on #28
Hello,

Could you explaine please more detail with  example, how you could ran this juniper's plugin. Thanks.

[2020-05-04 08:30] ravitandur commented on #49
I am also facing similar issue. Can you please let me know how did you resolve this issue? Thank yo in advance.

[2020-05-06 18:10] jthack commented on #41
Any traction on this @IngaFeick (ie a better fix than just "use an old version")

[2020-05-11 10:36] xo4n commented on #50
What settings do you use in  `key_deserializer_class`  and ` value_deserializer_class` in your kafka input config? Could you post it here?

[2020-05-12 07:29] xijq227 opened #54 "[ERROR][logstash.codecs.protobuf ] Unable to load file: /usr/share/logstash/compiled_protobuf/logical_port_extended.pb.rb. Reason: #<RuntimeError: Field already exists for tag: 1"
## Error message
`[2020-05-12T07:23:16,693][ERROR][logstash.codecs.protobuf ] Unable to load file: /usr/share/logstash/compiled_protobuf/logical_port_extended.pb.rb. Reason: #<RuntimeError: Field already exists for tag: 1>`

## Pipeline configuration
[code]

## Specifications
logstash:7.6.2

[2020-05-14 12:26] duculete commented on #50
key_deserializer_class => "org.apache.kafka.common.serialization.ByteArrayDeserializer"
	value_deserializer_class => "org.apache.kafka.common.serialization.ByteArrayDeserializer"

[2020-06-17 21:12] rv4004 opened #56 "Error when trying to run with multiple .pb.rb files in logstash-codec-protobuf"
Compiled .proto files with ruby-protoc sample.proto and used the same in logstash config. When using the plugin I get the error below. I have multiple definition files to add but for now i am adding only couple.
Any help would be greatly appreciated.

[edrs.pb.rb.txt](https://github.com/logstash-plugins/logstash-codec-protobuf/files/4795077/edrs.pb.rb.txt)
[affirmedEdr.pb.rb.txt](https://github.co

[2020-06-19 16:06] IngaFeick commented on #41
@jthack we depend on the last released version of the jruby protobuf gem, which is not part of our project. There is nothing we can do about this. You might want to voice your interest here: https://github.com/protocolbuffers/protobuf/issues/1594

[2020-09-03 11:00] IngaFeick opened #58 "Streaming support"
From https://github.com/AlexJF/logstash-codec-protobuf/commit/1eaa88f75e3fd441cccd8a0707fbaed2d476f9e6

the default implementation of protobuf parsing sometimes fails silently
leading to hard to debug data loss.

We might want to update and integrate the [solution](https://github.com/AlexJF/logstash-codec-protobuf/commit/1eaa88f75e3fd441cccd8a0707fbaed2d476f9e6) provided by @AlexJF and/or https://

[2020-09-03 11:05] IngaFeick commented on #54
@xijq227 can you provide the protobuf definitions please? Thanks

[2020-09-03 11:09] #49 closed

[2020-09-03 11:10] #42 closed

[2020-09-03 11:11] IngaFeick commented on #22
Closing this due to insufficient information.

[2020-09-03 11:11] #22 closed

[2020-09-03 11:11] IngaFeick commented on #10
Closing this due to insufficient information.

[2020-09-03 11:11] #10 closed

[2020-09-03 11:12] #19 closed

[2020-09-03 11:13] #23 closed

[2020-09-03 11:20] #39 closed

[2020-09-03 12:09] rv4004 commented on #56
logstash-codec-protobuf (1.2.2)

[2020-09-03 12:53] #37 closed

[2020-09-03 12:55] jorgelbg commented on #27
We've created issue #58 to track this feature as this has been mentioned a couple of times already.

[2020-09-03 12:55] #27 closed

[2020-09-11 07:24] xijq227 commented on #54
[port_extended.pb.rb](https://gist.github.com/xijq227/a588948f09151f55b938842c1753023a)
[logical_port_extended.pb.rb](https://gist.github.com/xijq227/c03f794ccad2fcbcd79d1174a839663b)

[2020-09-11 10:04] jorgelbg commented on #23
@Sakorah Like @IngaFeick mentioned the main issue with implementing this is how to distinguish which class/protobuf definition should be used to decode which message (in a generic enough way), considering that the messages will be mixed.

I'm' not familiar with the Cisco streaming telemetry implementation, but if _I had to guess_ I would say that they encode the message type/length prior to the me

[2020-09-11 12:52] Sakorah commented on #23
@jorgelbg I do not know the specifics of how multiple messages are encoded into one stream.
From what I saw is that the structure is always the same and defined here:
https://github.com/ios-xr/model-driven-telemetry/blob/master/protos/65x/cisco_ios_xr_infra_statsd_oper/infra_statistics/interfaces/interface/latest/generic_counters/ifstatsbag_generic.proto

So there is always first the ifstatsbag_ge

[2020-09-11 13:50] jorgelbg commented on #23
That proto definition is just defining two types of messages, does not necessarily means that it is written like that on the wire.

Taking a closer look at the repository looks like the outer payload on the wire is written using https://github.com/ios-xr/model-driven-telemetry/blob/master/protos/65x/telemetry.proto#L25-L29 with nested _raw_ protobuf messages inside https://github.com/ios-xr/model-

[2020-12-07 20:26] femuitar opened #59 "Protobuf encoding TypeError map :<field>"
Tested with

- logstash-7.9.3
- logstash-codec-protobuf-1.2.2

_pb.rb
`require 'google/protobuf'

Google::Protobuf::DescriptorPool.generated_pool.build do
  add_message "XX" do
    optional :timestamp, :int64, 1
    map :map_string, :string, :string, 2
  end
end
..........`

will get the following error
`Protobuf encoding error 2.2: Type error (#<TypeError: Invalid argument for string field.>). Wi

[2021-03-11 12:08] 3fr61n commented on #19
@d0nski Hi!!

Could you please let us know what was the fix/workaround?  I'm running similar issues and I don't know what else to do.

Regards

[2021-03-11 14:45] 3fr61n commented on #54
Hi @xijq227

Did you fix your issue?,

Regards

[2021-03-12 19:08] 3fr61n commented on #37
Hi Guys.

It would be nice, to understand why the 'enterprise' nested hierarchy is not being decoded by this plugin.

Because using protoc tool it decodes the whole hierarchy using the same .proto files.  (I used this instructions https://www.juniper.net/documentation/en_US/junos/topics/reference/general/junos-telemetry-interface-decoding-data.html)

[code]

[2021-04-16 17:22] LuciferInLove commented on #15
Hello. I try to send messages from Loki promtail to logstash http input with protobuf codec because promtail uses protobuf. I've generated logproto_pb.rb from [this file](https://github.com/grafana/loki/blob/master/pkg/logproto/logproto.proto) using protoc-3.5.0. I get errors like in this issue:
[code]
Sample logstash config:
[code]
In the test.log file I see:
[code]
Is it possible to decode messa

[2021-06-09 05:44] BBQigniter commented on #15
after playing around hours with this logstash plugin and dnsdist i found this thread :| it would be wonderful if this would work correctly.

[2021-09-28 10:23] IngaFeick opened #62 "The google-protobuf.gem is outdated - add support for a newer version"
The google protobuf gem has [not been updated for jruby in a while](https://github.com/protocolbuffers/protobuf/issues/1594) and is currently only available in version [3.0.5pre](https://rubygems.org/gems/google-protobuf/versions/3.5.0.pre-java) whereas the official protobuf version is 3.18+.
There were a handful of interesting feature changes in between those versions.
The codec should be tested

[2021-09-28 10:40] IngaFeick commented on #62
Instructions on how to manually build the google-protobuf.gem. Prerequisites: jruby.

0.  Get the protobuf sources:
[code]

1. Check your compiler version. It needs to be at least the version that you want to build for.
`protoc --version`

If your compiler is too old, build it from the repo:

[code]

(instructions taken from their [src/README.md](https://github.com/protocolbuffers/protobuf/blob/ma

[2021-10-04 14:15] #62 closed

[2021-11-30 07:22] treykasada commented on #41
Just hit this error as well. Unfortunately, using protoc 3.5.0 isn't an option in our case as our Protobuf definitions make use of proto3's new `optional` keyword, and support for that was only added in protoc 3.15.0.

@IngaFeick It looks like protocolbuffers/protobuf#1594 was recently closed. Does that mean a fix for this is now feasible?

[2022-02-08 21:52] rahulkilaru82 opened #64 "Developer"
**Logstash information**:

Please include the following information:

1. Logstash version (e.g. `bin/logstash --version`)
2. Logstash installation source (e.g. built from source, with a package manager: DEB/RPM, expanded from tar or zip archive, docker)
3. How is Logstash being run (e.g. as a service/service manager: systemd, upstart, etc. Via command line, docker/kubernetes)
4. How was the Logsta

[2022-09-28 16:07] jsandbrook commented on #37
Just leaving a breadcrumb. I encountered this exact issue and struggled mightily finding any related discussions about it beyond this issue.

This plugin relies on ruby-protocol-buffers which does not support extensions (https://github.com/codekitchen/ruby-protocol-buffers/#currently-unsupported-features). Parsing extended messages succeeds while silently dropping that data.

All useful Juniper te

[2022-11-02 05:56] subhdeep commented on #50
Facing similar issue, where the bytes field of a proto message is not getting parsed properly.
Any idea how to go about the fix?
Below is my kafka input plugin config.
[code]